@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
  --animate-fade-in: fade-in 0.3s ease-out forwards;

  --color-primary-50: #ebf7ff;
  --color-primary-100: #d1eeff;
  --color-primary-200: #aee1ff;
  --color-primary-300: #76d1ff;
  --color-primary-400: #35b6ff;
  --color-primary-500: #078eff;
  --color-primary-600: #0068ff;
  --color-primary-700: #004fff;
  --color-primary-800: #0041d7;
  --color-primary-900: #00338d;
  --color-primary-950: #062665;

  @keyframes fade-in {
    0% {
      opacity: 0;
      translate: 1.5rem 0;
    }
    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
}

@utility btn {
  @apply inline-flex h-12 items-center rounded-md border-2 px-6 font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-4 disabled:pointer-events-none disabled:cursor-not-allowed print:hidden;
}

@utility btn-primary {
  @apply border-primary-900 bg-primary-900 text-white hover:bg-white hover:text-primary-900 focus-visible:bg-white focus-visible:text-primary-900 focus-visible:ring-primary-100 disabled:border-gray-500 disabled:bg-gray-500 dark:border-primary-200 dark:bg-primary-200 dark:text-primary-900 dark:hover:border-white dark:focus-visible:border-white dark:focus-visible:ring-white/60;
}

@utility btn-secondary {
  @apply border-primary-900 bg-white text-primary-900 hover:bg-primary-900 hover:text-white focus-visible:bg-primary-900 focus-visible:text-white focus-visible:ring-primary-200 disabled:border-gray-500 disabled:text-gray-500 dark:border-white dark:bg-transparent dark:text-white dark:hover:border-primary-200 dark:hover:bg-transparent dark:hover:text-primary-200 dark:focus-visible:border-primary-200 dark:focus-visible:bg-transparent dark:focus-visible:text-primary-200 dark:focus-visible:ring-white/30;
}

@utility label {
  @apply mb-1 block font-medium text-gray-900 dark:text-white;
}

@utility link {
  @apply rounded-xs font-medium text-primary-900 hover:underline focus-visible:outline-solid focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-primary-900 dark:text-primary-200 dark:focus-visible:outline-primary-200;
}

@utility textbox {
  @apply h-12 w-full rounded-md border border-gray-300 px-4 shadow-xs transition-colors hover:border-gray-500 focus-visible:outline-solid focus-visible:outline-2 focus-visible:-outline-offset-2 focus-visible:outline-primary-900 focus-visible:ring-4 focus-visible:ring-primary-100 aria-[invalid]:border-red-400 aria-[invalid]:shadow-red-100 aria-[invalid]:focus-visible:outline-red-400 aria-[invalid]:focus-visible:ring-red-100 dark:border-gray-700 dark:bg-gray-800 dark:shadow-none dark:focus-visible:outline-primary-200 dark:focus-visible:ring-primary-100/30 dark:aria-[invalid]:focus-visible:ring-red-500/30;
}

@utility h1 {
  @apply text-4xl font-black leading-none text-primary-900 md:text-5xl lg:text-6xl dark:text-primary-200;
}

@utility h2 {
  @apply text-3xl font-black leading-none text-primary-900 md:text-4xl lg:text-5xl dark:text-primary-200;
}

@utility h3 {
  @apply text-xl font-bold leading-tight text-gray-900 md:text-2xl dark:text-white;
}

@utility h4 {
  @apply text-lg font-bold leading-tight text-gray-900 lg:text-xl dark:text-white;
}
