@import 'tailwindcss';

@plugin '@tailwindcss/typography';

@theme inline {
  --font-sans: var(--font-roboto), ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
}

@theme {
  --animate-fade-in: fade-in 0.3s ease-out forwards;

  --color-primary-50: #ebf7ff;
  --color-primary-100: #d1eeff;
  --color-primary-200: #aee1ff;
  --color-primary-300: #76d1ff;
  --color-primary-400: #35b6ff;
  --color-primary-500: #078eff;
  --color-primary-600: #0068ff;
  --color-primary-700: #004fff;
  --color-primary-800: #0041d7;
  --color-primary-900: #00338d;
  --color-primary-950: #062665;

  @keyframes fade-in {
    0% {
      opacity: 0;
      translate: 1.5rem 0;
    }

    100% {
      opacity: 1;
      translate: 0 0;
    }
  }
}

@utility btn {
  @apply inline-flex h-12 items-center rounded-md border-2 px-6 font-medium transition-colors focus-visible:outline-hidden focus-visible:ring-4 disabled:pointer-events-none disabled:cursor-not-allowed print:hidden;
}

@utility btn-primary {
  @apply border-primary-900 bg-primary-900 text-white hover:bg-white hover:text-primary-900 focus-visible:bg-white focus-visible:text-primary-900 focus-visible:ring-primary-100 disabled:border-gray-500 disabled:bg-gray-500 dark:border-primary-200 dark:bg-primary-200 dark:text-primary-900 dark:hover:border-white dark:focus-visible:border-white dark:focus-visible:ring-white/60;
}

@utility btn-secondary {
  @apply border-primary-900 bg-white text-primary-900 hover:bg-primary-900 hover:text-white focus-visible:bg-primary-900 focus-visible:text-white focus-visible:ring-primary-200 disabled:border-gray-500 disabled:text-gray-500 dark:border-white dark:bg-transparent dark:text-white dark:hover:border-primary-200 dark:hover:bg-transparent dark:hover:text-primary-200 dark:focus-visible:border-primary-200 dark:focus-visible:bg-transparent dark:focus-visible:text-primary-200 dark:focus-visible:ring-white/30;
}


